<div class="container">
    <h1>welcome to home page </h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis voluptatum expedita aliquam rem. Et sequi iusto eligendi est eum, perspiciatis non delectus
    </p>
    <p> cumque, neque impedit asperiores ea at, numquam necessitatibus quibusdam accusantium quae quia rerum minus laudantium. Ex sed quibusdam eveniet nesciunt accusamus aut odio numquam placeat fugit facere ea id omnis impedit, necessitatibus quos cum dolor repellat hic ratione. Voluptate vero quos rem, natus earum quae dicta accusamus dolorem cumque, aspernatur fuga, soluta consequuntur voluptatum amet culpa optio sint nostrum rerum et 
    quod itaque architecto minus! Accusamus odit, ducimus, architecto aperiam ipsum, blanditiis praesentium minus delectus vel odio dolore?  
</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde impedit, commodi consequatur nemo deserunt beatae voluptatibus, officia totam eveniet perspiciatis sapiente culpa sunt ut sint cumque, necessitatibus iure id ratione.</p>
<button mat-raised-button routerLink="/login"> login</button>
<button style="margin: 5px;" mat-raised-button routerLink="/register"> Register</button>
</div>